In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load 
mouse_csv = "data/mouse_drug_data.csv"
clinical_csv= "data/clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
mouse_df = pd.read_csv(mouse_csv)
clinical_df = pd.read_csv(clinical_csv)
# Combine the data into a single dataset
combined_df =pd.merge(mouse_df,clinical_df,left_on="Mouse ID", right_on = "Mouse ID", how = "outer")
# Display the data table for preview
combined_df.head(40)

   Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0      f234  Stelasyn          0           45.000000                 0
1      f234  Stelasyn          5           47.313491                 0
2      f234  Stelasyn         10           47.904324                 0
3      f234  Stelasyn         15           48.735197                 1
4      f234  Stelasyn         20           51.112713                 2
5      f234  Stelasyn         25           52.178602                 2
6      f234  Stelasyn         30           56.873817                 2
7      f234  Stelasyn         35           57.748758                 2
8      x402  Stelasyn          0           45.000000                 0
9      x402  Stelasyn          5           46.327570                 1
10     x402  Stelasyn         10           46.886962                 1
11     x402  Stelasyn         15           49.119948                 1
12     x402  Stelasyn         20           50.414750                 2
13     x402  Stelasyn         25           52.431737                 2
14     x402  Stelasyn         30           54.351585                 3
15     x402  Stelasyn         35           55.240962                 3
16     x402  Stelasyn         40           56.691723                 3
17     x402  Stelasyn         45           61.619606                 3
18     a492  Stelasyn          0           45.000000                 0
19     a492  Stelasyn          5           46.409143                 0
20     a492  Stelasyn         10           48.432197                 0
21     a492  Stelasyn         15           51.985263                 0
22     a492  Stelasyn         20           53.677193                 0
23     a492  Stelasyn         25           54.701229                 1
24     a492  Stelasyn         30           56.201041                 1
25     a492  Stelasyn         35           57.308554                 1
26     a492  Stelasyn         40           57.928499                 1
27     a492  Stelasyn         45           60.122011                 1
28     w540  Stelasyn          0           45.000000                 0
29     w540  Stelasyn          5           45.885370                 1
30     w540  Stelasyn         10           47.459067                 1
31     w540  Stelasyn         15           48.250146                 2
32     w540  Stelasyn         20           50.672727                 2
33     w540  Stelasyn         25           52.600270                 2
34     v764  Stelasyn          0           45.000000                 0
35     v764  Stelasyn          5           47.054185                 0
36     v764  Stelasyn         10           48.189001                 1
37     v764  Stelasyn         15           49.412624                 2
38     o848  Stelasyn          0           45.000000                 0
39     z314  Stelasyn          0           45.000000                 0

## Tumor Response to Treatment

In [2]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
grouped_by_d_t = combined_df.groupby(["Drug","Timepoint"])['Tumor Volume (mm3)'].mean()
grouped_by_d_t

Drug       Timepoint
Capomulin  0            45.000000
           5            44.266086
           10           43.084291
           15           42.064317
           20           40.716325
                          ...
Zoniferol  25           55.432935
           30           57.713531
           35           60.089372
           40           62.916692
           45           65.960888
Name: Tumor Volume (mm3), Length: 100, dtype: float64

In [3]:
# Convert to DataFrame
grouped_by_d_t_df = combined_df.groupby(["Drug","Timepoint"])['Tumor Volume (mm3)'].mean().reset_index()
# Preview DataFrame
grouped_by_d_t_df

         Drug  Timepoint  Tumor Volume (mm3)
0   Capomulin          0           45.000000
1   Capomulin          5           44.266086
2   Capomulin         10           43.084291
3   Capomulin         15           42.064317
4   Capomulin         20           40.716325
..        ...        ...                 ...
95  Zoniferol         25           55.432935
96  Zoniferol         30           57.713531
97  Zoniferol         35           60.089372
98  Zoniferol         40           62.916692
99  Zoniferol         45           65.960888

[100 rows x 3 columns]

In [4]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint
sem_series = combined_df.groupby(["Drug","Timepoint"])[['Tumor Volume (mm3)']].sem()
# Convert to DataFrame
# Preview DataFrame
sem_df = sem_series.reset_index()
sem_df

         Drug  Timepoint  Tumor Volume (mm3)
0   Capomulin          0            0.000000
1   Capomulin          5            0.448593
2   Capomulin         10            0.702684
3   Capomulin         15            0.838617
4   Capomulin         20            0.909731
..        ...        ...                 ...
95  Zoniferol         25            0.602513
96  Zoniferol         30            0.800043
97  Zoniferol         35            0.881426
98  Zoniferol         40            0.998515
99  Zoniferol         45            1.003576

[100 rows x 3 columns]

In [5]:
# Minor Data Munging to Re-Format the Data Frames
reformed_sem_df = pd.pivot_table(sem_df,values="Tumor Volume (mm3)", index="Timepoint", columns="Drug" )
# Preview that Reformatting worked
reformed_sem_df

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.448593,0.164505,0.235102,0.264819,0.202385,0.218091,0.231708,0.482955,0.239862,0.188950
10,0.702684,0.236144,0.282346,0.357421,0.319415,0.402064,0.376195,0.720225,0.433678,0.263949
15,0.838617,0.332053,0.357705,0.580268,0.444378,0.614461,0.466109,0.770432,0.493261,0.370544
20,0.909731,0.359482,0.476210,0.726484,0.595260,0.839609,0.555181,0.786199,0.621889,0.533182
25,0.881642,0.439356,0.550315,0.755413,0.813706,1.034872,0.577401,0.746991,0.741922,0.602513
30,0.934460,0.490620,0.631061,0.934121,0.975496,1.218231,0.746045,0.864906,0.899548,0.800043
35,1.052241,0.692248,0.984155,1.127867,1.013769,1.287481,1.084929,0.967433,1.003186,0.881426
40,1.223608,0.708505,1.055220,1.158449,1.118567,1.370634,1.564779,1.128445,1.410435,0.998515
45,1.223977,0.902358,1.144427,1.453186,1.416363,1.351726,1.888586,1.226805,1.576556,1.003576

In [7]:
# Generate the Plot (with Error Bars)

# Save the Figure

In [8]:
# Show the Figure
plt.show()

![Tumor Response to Treatment](../Images/treatment.png)

## Metastatic Response to Treatment

In [9]:
# Store the Mean Met. Site Data Grouped by Drug and Timepoint 

# Convert to DataFrame

# Preview DataFrame

In [10]:
# Store the Standard Error associated with Met. Sites Grouped by Drug and Timepoint 

# Convert to DataFrame

# Preview DataFrame

In [11]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked

In [12]:
# Generate the Plot (with Error Bars)

# Save the Figure

# Show the Figure

![Metastatic Spread During Treatment](../Images/spread.png)

## Survival Rates

In [13]:
# Store the Count of Mice Grouped by Drug and Timepoint (W can pass any metric)

# Convert to DataFrame

# Preview DataFrame

In [14]:
# Minor Data Munging to Re-Format the Data Frames

# Preview the Data Frame

In [15]:
# Generate the Plot (Accounting for percentages)

# Save the Figure

# Show the Figure
plt.show()

![Metastatic Spread During Treatment](../Images/survival.png)

## Summary Bar Graph

In [16]:
# Calculate the percent changes for each drug

# Display the data to confirm

In [17]:
# Store all Relevant Percent Changes into a Tuple


# Splice the data between passing and failing drugs


# Orient widths. Add labels, tick marks, etc. 


# Use functions to label the percentages of changes


# Call functions to implement the function calls


# Save the Figure


# Show the Figure
fig.show()

NameError: name 'fig' is not defined

![Metastatic Spread During Treatment](../Images/change.png)